{% extends 'leetcode/base.html' %}

{% block title %} {{ problem }} {% title %}

{% block content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<h1><b>{{ problem }}</b></h1>
Back to <a href={% url 'index' %}>Leetcode Solution List</a>
<pre>
    <code class={{ lang }}>{{ code }}</code>
</pre>
{% endblock %}
